# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_weather_df = pd.read_csv("Output/city_data.csv")
city_weather_df

,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temperature (F),Temp Max,Humidity (%),Cloudiness (%),Windspeed (mph)
0,0,Jennings,US,38.72,-90.26,1600208260,78.69,81.00,44,75,5.82
1,1,Bluff,NZ,-46.60,168.33,1600208086,48.99,48.99,79,100,14.00
2,2,Kapaa,US,22.08,-159.32,1600208097,84.79,86.00,58,20,10.29
3,3,Lebu,CL,-37.62,-73.65,1600208260,50.95,50.95,96,100,6.06
4,4,Grand-Santi,GF,4.25,-54.38,1600208260,75.85,75.85,90,81,0.54
...,...,...,...,...,...,...,...,...,...,...,...
579,579,Selaphum,TH,16.03,103.94,1600208316,77.11,77.11,85,77,2.42
580,580,Turochak,RU,52.26,87.12,1600208316,47.59,47.59,80,82,3.53
581,581,Tingi,TZ,-11.30,35.03,1600208316,68.38,68.38,52,31,6.89
582,582,Nelson Bay,AU,-32.72,152.15,1600207872,59.63,60.01,93,20,5.82
583,583,Sémbé,CG,1.65,14.58,1600208254,71.13,71.13,93,57,1.86

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = city_weather_df[["Latitude", "Longitude"]].astype(float)

# Create a poverty Heatmap layer
humidity_fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=city_weather_df['Humidity (%)'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

humidity_fig.add_layer(heat_layer)
humidity_fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_cities_df = city_weather_df.loc[(city_weather_df["Temp Max"] > 75) & (city_weather_df["Temp Max"] < 90) & (city_weather_df["Cloudiness (%)"] < 25), :]
ideal_cities_df = ideal_cities_df.dropna(how='any')
del ideal_cities_df['Unnamed: 0']
ideal_cities_df=ideal_cities_df.reset_index(drop=True)
ideal_cities_df

,City,Country,Latitude,Longitude,Date,Temperature (F),Temp Max,Humidity (%),Cloudiness (%),Windspeed (mph)
0,Kapaa,US,22.08,-159.32,1600208097,84.79,86.00,58,20,10.29
1,Atuona,PF,-9.80,-139.03,1600208090,78.39,78.39,76,16,18.70
2,Vilhena,BR,-12.74,-60.15,1600208215,89.60,89.60,29,15,8.05
3,George Town,MY,5.41,100.34,1600208114,77.63,78.80,94,20,2.24
4,Half Moon Bay,US,37.46,-122.43,1600208265,73.85,77.00,72,1,16.11
5,Fortuna,US,40.60,-124.16,1600208267,77.32,79.00,61,20,12.75
6,Santa Cruz de la Sierra,BO,-17.80,-63.17,1600208268,77.00,77.00,50,0,6.93
7,Puerto Ayora,EC,-0.74,-90.35,1600207833,73.26,78.80,57,20,23.04
8,Lantana,US,26.59,-80.05,1600208163,86.25,87.80,70,1,9.17
9,Bagar,IN,28.19,75.50,1600208273,84.99,84.99,40,0,5.39
10,Marzuq,YE,14.40,46.47,1600208274,81.32,81.32,45,0,2.71
11,Kiryat Gat,IL,31.61,34.76,1600207863,77.95,81.00,100,0,2.80
12,Petaluma,US,38.23,-122.64,1600208275,81.68,84.20,44,1,4.70
13,Cabo San Lucas,MX,22.89,-109.91,1600208113,87.80,87.80,66,20,17.22
14,Hong Kong,HK,22.29,114.16,1600207869,82.04,82.99,88,5,5.01
15,Santa Barbara,US,34.42,-119.70,1600208278,85.98,87.01,56,0,6.17
16,Agüimes,ES,27.91,-15.45,1600208279,76.55,77.00,65,20,27.51
17,Naze,JP,28.37,129.48,1600207870,78.75,80.60,94,20,3.36
18,Suez,EG,29.97,32.53,1600207882,75.88,75.88,72,0,11.59
19,Fethiye,TR,36.62,29.12,1600208281,77.00,77.00,78,0,6.93
20,Cedar City,US,37.68,-113.06,1600208282,87.80,87.80,7,1,10.29
21,North Valley,US,35.17,-106.62,1600208283,82.90,86.00,20,20,4.29
22,San Quintín,MX,30.48,-115.95,1600208285,84.43,84.43,39,0,14.05
23,Nouadhibou,MR,20.93,-17.03,1600208138,78.80,78.80,74,0,13.87
24,Douglas,US,41.30,-96.17,1600208058,81.97,84.20,42,1,10.29
25,Najrān,SA,17.49,44.13,1600207891,80.60,80.60,21,0,2.95
26,Baghdad,IQ,33.34,44.40,1600208160,84.20,84.20,23,0,6.93
27,Aswān,EG,24.09,32.91,1600208294,87.69,87.69,20,0,11.36
28,Presidente Prudente,BR,-22.13,-51.39,1600208167,86.00,86.00,28,0,4.70
29,Avera,US,33.19,-82.53,1600208296,78.80,78.80,74,1,5.82
30,Hambantota,LK,6.12,81.12,1600208296,78.80,78.80,100,20,9.17
31,Cam Ranh,VN,11.92,109.16,1600208297,82.40,82.40,83,20,3.36
32,Misratah,LY,32.38,15.09,1600207890,77.74,77.74,74,17,18.28
33,Buraidah,SA,26.33,43.98,1600208300,86.00,86.00,20,0,11.41
34,Bandarbeyla,SO,9.49,50.81,1600208302,78.98,78.98,74,10,23.64
35,Piracanjuba,BR,-17.30,-49.02,1600207603,79.81,79.81,22,0,10.22
36,Jalu,LY,29.03,21.55,1600208303,87.69,87.69,25,2,13.98
37,Arona,ES,28.10,-16.68,1600207895,76.62,78.01,69,20,23.04
38,Alanya,TR,36.54,32.00,1600208303,75.20,75.20,94,0,4.70
39,Malindi,KE,-3.22,40.12,1600208304,76.32,76.32,83,3,12.50
40,San Rafael del Sur,NI,11.85,-86.44,1600208306,89.60,89.60,62,20,6.93
41,Laramie,US,41.31,-105.59,1600208308,77.00,77.00,8,1,12.75
42,Alamogordo,US,32.90,-105.96,1600208309,81.25,82.40,28,1,4.70
43,Areni,AM,39.72,45.18,1600208309,77.00,77.00,44,0,11.41
44,Hobyo,SO,5.35,48.53,1600208310,77.32,77.32,84,0,23.11
45,Faanui,PF,-16.48,-151.75,1600208125,78.03,78.03,77,0,14.32
46,Massakory,TD,13.00,15.73,1600208310,81.55,81.55,67,0,5.68
47,Grants,US,35.15,-107.85,1600208310,80.60,80.60,9,1,3.36
48,Green River,US,41.53,-109.47,1600208311,78.80,78.80,9,1,12.75
49,Truth or Consequences,US,33.13,-107.25,1600208312,83.59,84.20,23,1,6.93
50,Cody,US,44.53,-109.06,1600208312,82.35,82.99,15,1,12.75
51,Hailey,US,43.52,-114.32,1600208236,81.82,82.40,15,5,8.05
52,Puerto Suárez,BO,-18.95,-57.80,1600208313,86.00,86.00,40,0,3.36
53,Mongo,TD,12.18,18.69,1600208313,75.79,75.79,76,23,2.06
54,Sakakah,SA,29.97,40.21,1600207910,87.80,87.80,12,0,6.93

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure